@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic);


body {
	font-size: 18px;
	font-family: 'helvetica', sans-serif;
	margin: 3em;
	overflow: clear;
}

h1 {
	font-family: 'Old Standard TT', serif, gray;
	font-style: italic;
	font-size: 2em;
	padding: .5em;
	margin-bottom: 1%;
	background-color: gray;
	color: white;
	font-weight: 800;
}

#menu {
	color: inherit;
	text-decoration: none;
	font-family: 'helvetica', sans-serif;
	font-style: normal;
	padding: .5em;
}

nav {
	float: right;
	display: block;
}

a:hover {
	background-color: #88A6E2;
}

img {
	display: inline-block;
	float: center;
	width: 27.75%;
	padding: 1%;
	border: 3px ridge gray;
	margin: 1.33%;
	background-color: #88A6E2;
}

footer{
	clear: both;
	float: right;
}